.tit {
  .tit2 {
    .tit3 {
      @extend %titulo1;
    }
  }
}

.DavidR {
  margin: 6rem 1rem 6rem 1rem;
  div {
    h2 {
      @extend %titulo2;
    }
  }

  .grid-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    /* Espacio entre las columnas */

    .item-1 {
      background-color: transparent;

      img {
        @extend %imagen;
      }
    }

    .item-2 {
      background-color: transparent;
      padding: 20px;
      p {
        @extend %parrafo;
      }
      h5 {
        @extend %titulo5;
      }
      .btn {
        @extend %botum_center;
      }
      img {
        @extend %img_icon;
      }
    }
  }
}

.DavidZepeda {
  margin: 6rem 1rem 6rem 1rem;
  div {
    h2 {
      @extend %titulo2;
    }
  }

  .grid-container2 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    /* Espacio entre las columnas */

    .item-1 {
      background-color: transparent;

      img {
        display: block; /* Asegura que la imagen se comporte como un bloque */
        margin: 0 auto;
        width: 300px;
        height: 400px;
        border-radius: 5%;
      }
    }

    .item-2 {
      background-color: transparent;
      padding: 20px;
      p {
        @extend %parrafo;
      }
      h5 {
        @extend %titulo5;
      }
      .btn {
        @extend %botum_center;
      }
      img {
        @extend %img_icon;
      }
    }
  }
}

.Hector {
  margin: 6rem 1rem 6rem 1rem;
  div {
    h2 {
      @extend %titulo2;
    }
  }

  .grid-container3 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    /* Espacio entre las columnas */

    .item-1 {
      background-color: transparent;

      img {
        display: block; /* Asegura que la imagen se comporte como un bloque */
        margin: 0 auto;
        width: 280px;
        height: 350px;
        border-radius: 5%;
      }
    }

    .item-2 {
      background-color: transparent;
      padding: 20px;
      p {
        @extend %parrafo;
      }
      h5 {
        @extend %titulo5;
      }
      .btn {
        @extend %botum_center;
      }
      img {
        @extend %img_icon;
      }
    }
  }
}
