@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.foter {
  font-family: 'Pacifico', cursive;
    text-align: center;
    background:  rgb(254, 195, 0);
    border: 10px solid rgb(254, 195, 0);
    padding: 40px;
    margin: 10px;
  }
