@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.foter {
  font-family: 'Pacifico', cursive;
    text-align: center;
    background:  rgb(254, 182, 0);
    border: 5px solid rgb(254, 195, 0);
    border-radius: 20%;
    padding: 40px;
    margin: 5px;
  }
