body {
    margin: 10px;
    main {

        .title {
            margin: 1rem 1rem 1rem 1rem;
            .titulo {
                @extend %titulo1;
            }

            .logo {
                img {
                    display: block;
                    margin: auto;
                    padding: 40px;
                    width: 400px;
                    height: 400px;
                    border-radius: 50%;
                }
            }

            .integrates {
                @extend %titulo4;
            }
        }

        .abs {
            margin: 1rem 1rem 1rem 1rem;
            .abstract {
                .absh2 {
                    @extend %titulo2;
                }

                div {
                    .para2 {
                        @extend %parrafo;
                    }
                }
            }
        }

        .intro {
            margin: 1rem 1rem 1rem 1rem;
            .introdcution {
                .int {
                    @extend %titulo2;
                }

                div {
                    .para3 {
                        @extend %parrafo;
                    }
                }
            }
        }

        .meto {
            margin: 1rem 1rem 1rem 1rem;
            .metodologi {
                .met {
                    @extend %titulo2;
                }

                div {
                    .para4 {
                        @extend %parrafo;
                    }
                }
            }
        }

        .resul {
            margin: 1rem 1rem 1rem 1rem;
            .results {
                .res {
                    @extend %titulo2;
                }

                div {
                    .para5 {
                        @extend %parrafo;
                    }
                }
            }
        }
        .imagenes{
            img{
                border-radius: 10%;
                background-color: rgb(255, 179, 0);          
                display: block;
                margin: 0 auto;
                width: 1200px;
                height: 400px;
            }
        }
        .conclu {
            margin: 1rem 1rem 1rem 1rem;
            .conclusion {
                .cls {
                    @extend %titulo2;
                }

                div {
                    .para6 {
                        @extend %parrafo;
                    }
                }
            }
        }














    }
}