body{
    max-width: 100%;
    width: 100%;

.spects{
    border: 15px;
    padding: 40px;
    margin: 20px;
    div{
        h2{
            @extend %titulo2;
        }
    }
}

.Doors{
    border: 15px;
    padding: 40px;
    margin: 20px;
    div{
        h2{
            @extend %titulo2;
        }
    }
}



.Window{
    border: 15px;
    padding: 40px;
    margin: 20px;
    div{
        h2{
            @extend %titulo2;
        }
    }
}

.Test_case{
    border: 15px;
    padding: 40px;
    margin: 20px;
    div{
        h2{
            @extend %titulo2;
        }
    }
}

.repo{
    border: 15px;
    padding: 40px;
    margin: 20px;
    div{
        h2{
            @extend %titulo2;
        }
    }
    div{
        .btn_center{
                width: 200px;
                height: 200px;
                border-radius: 10%;
                img{
                    border-radius: 10%;
                    background-color: rgb(255, 179, 0);          
                    width: 200px;
                    height: 200px;
                }
        }    
    }
}
}