body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 49, 142);
    
  }
  
  @import "_estilo";
  @import "_index";
  @import "_project";
  @import "_aboutus";
  @import "_footer";

    